<p style="color: green"><%= notice %></p>

<%= render @table_referral_log %>

<div>
  <p>recepient_email_id: <%= @table_referral_log.recepient_email_id%></p>
  <p>status of the referral: <%=@table_referral_log.status %></p>
  <p><%= link_to "Back to referrals", table_referral_logs_path %></p>
  <p><a href = "/">Back to Home Page</a></p>
</div>
